<form action="pdf" method="post">
  
  Move in Date:
  <input type="Date" name="movegin_date">
  <br>

  New Address:
  <input type="text" name="new_address">
<br>

New Postal Code:
<input type="text" name="new_postal_code">
<br>

Old Address:
<input type="text" name="old_address">
<br>

Old Postal Code:
<input type="text" name="Old_postal_code">
<br>


* Full Name:
<input type="text" name="full_name" required>
<br>

Date of Birth:
<input type="date" name="date_birth" required>
<br>

Nationality:
<input type="text" name="nationality">
<br>

Religion:
<input type="text" name="religiony">
<br>

Marital Status:
<input type="text" name="Marital_Status">
<br>

Date of Marriage:
<input type="Date" name="Date_of_Marriage">
<br>


ID Nr:
<input type="text" name="id_nr">
<br>


Sirial Number(ID):
<input type="text" name="Sirial_number">
<br>


Place of Issue(ID):
<input type="text" name="Place_issue">
<br>



Date of Issue(ID):
<input type="Date" name="Date_issue">
<br>

Expired Date(ID):
<input type="Date" name="expired_Date">
<br>

Sirial Number(passport):
<input type="text" name="Sirial_number">
<br>


Place of Issue(passport):
<input type="text" name="Place_issue">
<br>



Date of Issue(passport):
<input type="Date" name="Date_issue">
<br>

Expired Date(passport):
<input type="Date" name="expired_Date">
<br>

save:
<input type="submit" value="Convert to PDF">
<br>



</form>
